$backColor: #191919;
$whiteColor: #FFFFFF;
$mutedColor: #4b4b4b;
$redColor: #D20A32;
$textSize: 14px;
$font: "Google Sans", Roboto, arial, sans-serif;

header {
  position: sticky;
  top: 0;
  background-color: $backColor;
  z-index: 1000;
}

body {
  background-color: $backColor;
  color: $whiteColor;
  font-family: $font;
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  a{
    font-size: $textSize *1.5;
    color: $redColor;
    text-decoration: none;
  }
}

#presentation h2 {
  font-size: $textSize *2;
}

#game-search {
  padding: 0px 45px;
  color: $mutedColor;
  background-color: transparent;
  width: 25%;
  height: 40px;
  border: 1px solid $whiteColor;
  border-radius: 25px;
}

#platform-filter {
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    background-color: transparent;
    border: 1px solid $whiteColor;
    border-radius: 10px;
  }

  label{
    margin: 0 5px 0 0;
  }

  h3 {
    color: $redColor;
    margin: 0 5px 0 0;
  }
}

.page-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0 0 0;


  a img{
    object-fit: cover;
    height: 400px;
    width: 100%;
  }

  h1 {
    font-size: $textSize *1.5;
    margin: 0px;
  }
}

.show-more-btn {
  margin-top: 25px;
  width: 220px;
  height: 50px;
  background-color: $redColor;
  color: $whiteColor;
  border: 0;
  font-size: $textSize *1.5;
  font-weight: bold;
  cursor: pointer;
}

.cardGame {
  display: inline-block;
  width: calc(33.33% - 10px); /* Pour 3 éléments côte à côte */
  margin: 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}
.cardGame:hover::before {
    content: attr(data-release-date) "\A " attr(data-publisher) "\A " attr(data-genres);
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 5px;
    z-index: 1;
    transition: opacity 0.3s;
    opacity: 0;
  white-space: pre-line;
  text-align: center;
}

.cardGame:hover::before {
    opacity: 1;
}

@media screen and (max-width: 992px) {
  .cardGame {
    width: calc(50% - 10px); /* Pour 2 éléments côte à côte sur des écrans plus petits */
  }
}

@media screen and (max-width: 600px) {
  .cardGame {
    width: 100%; /* Pour 1 élément par ligne sur des écrans encore plus petits */
  }
}

#page-content {
  margin: 0 10vh;
}

.article {

  h2 {
    font-size: $textSize * 4;
  }
  h3 {
    font-size: $textSize * 5;
    color: $redColor;
    margin: 0;
  }
  
  .content a, a:visited {
    text-decoration: none;
    position: relative;
    color: #AFAFAF;
    &:after {
      content: '';
      height: 3px;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0%;
      background: $redColor;
      transition: 0.2s;
    }

    &:hover:after {
      width: 100%;
    }

    &.block {
      display: block;
      padding: 0.5em;

      &:hover {
        background: #eee;
      }
    }
  }

  #title {
    display:flex;
    align-items: baseline;
    justify-content: space-between;

    #rating {
      font-size: $textSize *1.5;
      color: $redColor;
      font-weight: bold;
    }
  }

  .imgContainer {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .img {
    object-fit: cover;
    width: 100vw;
    position: relative;
    left: -10vh;
    display: block
  }

.external {
    background-color: $redColor;
    padding: 15px 40px;
    color: $whiteColor;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    bottom: 5%;
    right: -5%;
  }


  .about {
    display: flex;
    justify-content: space-between;

    ul {
      padding: 0;
    }
  }

  .more {
    display: flex;
    justify-content: space-around;

    div {
      width: 100%;
    }

  }

  .screenshots {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .screen {
      width: 48%;
    }
    img {
      object-fit: scale-down;
      width: 100%;
      height: auto;
    }
  }
}

footer {
  position: relative;

  div {
  display: flex;
   align-items: baseline; 
  margin: 5% 0 3% 7%;
  }
a, a:visited {
    margin: 10px;
    text-decoration: none;
    position: relative;
    color: #AFAFAF;
    &:after {
      content: '';
      height: 3px;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0%;
      background: $redColor;
      transition: 0.2s;
    }

    &:hover:after {
      width: 100%;
    }

    &.block {
      display: block;
      padding: 0.5em;

      &:hover {
        background: #eee;
      }
    }
  }
}
footer::before {
  content: '';
  position: absolute;
  top: -10%;
  left: 7%;
  width: 15%;
  height: 15px;
  background-color: $redColor;
}
